region                = "us-east-1"
bastion_instance_type = "t3.micro"
web_instance_type     = "t3.micro"
db_instance_type      = "t3.small"
key_pair_name         = "Mykeypair-name"
my_ip                 = "MyPUBLIC_IP/32"
